#first{
  position: absolute;
  height: 700px;
  width: 385px;
  overflow: ;
  background-repeat: no-repeat !important;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background-size: cover !important;
  border: 1px solid rgba(255,255,255,.08);
  background-position: center !important;
  border-radius: 5px;
  background-color: #555;
  transition: .3s
}
#progress {
    width: 378px;
    height: 4px;
    border-radius: 3px;
    background: rgba(0,0,0,.5);
    border: 1px solid #ccc; 
    position:relative;
    top: 10px;
    left: 50%;
    z-index: 9;
  transform: translate(-50%,-50%)
}
.close{
  border: 0;
  background: transparent;
  color: #eee;
  font-size: 20px;
  margin-top: 8px;
  font-family: 'Ubuntu';
  cursor: pointer;
  font-weight: 100;
  position:absolute;
  right:-30px;
  top:-18px
}

#bar{
  width: 0px;
  height: 4px;
  background: rgba(255,255,255,.8);
  transition: 9.8s
}
@media screen and (max-width:600px){
#first{
  height: 100% !important;
  width: 100% !important;
  }
  #progress{
    width: 90%;
    top: 1.5%;
  }
  .close{right:-24px}
}

.loader{
  border: 6px solid rgba(255,255,255,.3);
  border-top: 6px solid #fff;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  animation: spin 4s linear;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%)
}

@keyframes spin {
  0% { transform: translate(-50%,-50%) rotate(0deg) }
  100% {  transform:translate(-50%,-50%) rotate(360deg)}
}
